<div class="d-flex my-2">
    <button type="button" class="btn rounded-circle" (click)="clickUsuario2()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Paciente 1"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickUsuario4()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Paciente 2"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickUsuario2()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Paciente 3"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickUsuario1()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Especialista 1"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickUsuario1()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Especialista 2"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickUsuario3()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Admin"/></button>
</div>