<div class="d-flex my-2">
    <button type="button" class="btn rounded-circle" (click)="clickPaciente1()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Paciente 1"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickPaciente2()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Paciente 2"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickPaciente3()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Paciente 3"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickEspecialista1()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Especialista 1"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickEspecialista2()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Especialista 2"/></button>
    <button type="button" class="btn rounded-circle" (click)="clickAdmin1()"><img height="55px" class="rounded-circle" src="assets/defaultusr.jpg" title="Admin"/></button>
</div>