<div class="container">
    <div class="row row-cols-5 ">
        <ng-container *ngIf="!this.diaSeleccionado; else bloqueSeleccionarHora">
            <div class="col " *ngFor="let dia of this.proximosXVdias">
                <boton-util clases="btn btn-outline-dark rounded-0 " [elementoUtil]="dia" (clickBoton)="enClickDia($event)">{{dia | date:'Y-MM-dd'}}</boton-util>
            </div>
        </ng-container>
        <ng-template #bloqueSeleccionarHora>
            <div class="col " *ngFor="let hora of this.turnosDisponiblesDelDia">
                <boton-util clases="btn btn-outline-dark rounded-4" [elementoUtil]="hora" (clickBoton)="enClickHora($event)">{{hora | date:'H:mm'}}</boton-util>
            </div>
        </ng-template>
    </div>
</div>


<!-- <form [formGroup]="formTurno">
    <div class="">

        <div>

            <div class="row ">
                
                <label class="form-label">Fecha</label>
                <input class="form-control" type="text" [readOnly]="true" formControlName="horarioTurno">

            </div>
            <div class="row">

                <div class="col-auto ">
                    <button class="btn btn-dark" type="button" (click)="bajarCarrusel()"><</button>
                </div>
                <div class="col " *ngFor="let dia of proximosXVdias | slice:this.carruselFechaMinimo:this.carruselFechaMaximo; let i=index">

                    <div class="card "  (mouseleave)="contraerHorarios(dia, i)">
                        <div class="card-title " (mouseenter)="desplegarHorarios(dia, i)">{{dia | date:'d/M/yy'}}</div>
                        <div class=" d-none "  #textoBoton>
                            <div *ngFor="let horario of obtenerHorarios(dia)" ><button class="btn" (click)="establecerDia(horario)">{{horario | date:'h:mm a'}}</button></div>
                            
                        </div>
                    </div>

                </div>
                <div class="col-auto ">
                    <button class="btn btn-dark" type="button" (click)="subirCarrusel()">></button>
                </div>

            </div>

        </div>

    </div>
    <button class="btn btn-info" type="button" (click)="pedirTurno()">Pedir turno</button>
</form> -->