<h1>LOGIN</h1>
<div class="d-flex align-items-center justify-content-center">
    <div class="border border-3 border-primary-subtle p-3">
        <form [formGroup]="formLogin">
            <div class="mb-3 ">
                <label class="form-label ">
                    Email
                    <input type="text" formControlName="email" class="form-control ">
                </label>
            </div>
            <div>
                <label class="form-label ">
                    Clave
                    <input type="password" formControlName="clave" class="form-control ">
                </label>
            </div>
            <button type="button" class="btn btn-primary " (click)="loguearse()">Log-in</button>
        </form>

    </div>

</div>
<app-botones-login (clickUsuarioEvent)="devClickUsuario($event)"></app-botones-login>
