<div class=" z-1">
    <div class="container px-4 ">
        <div class=" d-flex justify-content-evenly my-5 ">
            <div class="  ">
                <boton-util clases="btn rounded-circle" elementoUtil="paciente" (clickBoton)="enClickTipo($event)">
                    <img class="img-fluid rounded-circle"  src="assets/pacienteimagenregistro.jpg" />
                </boton-util>

            </div>
            <div class=" ">
                <boton-util clases="btn rounded-circle" elementoUtil="especialista" (clickBoton)="enClickTipo($event)">
                    <img class="img-fluid rounded-circle"  src="assets/especialistaimagenregistro.jpg" />
                </boton-util>

            </div>
            <div class="" [ngClass]="!menuAdmin?'d-none':''">
                <boton-util clases="btn rounded-circle " elementoUtil="admin" (clickBoton)="enClickTipo($event)">
                    <img class="img-fluid rounded-circle"  src="assets/adminimagenregistro.jpg"/>
                </boton-util>
            </div>
        </div>
    </div>
</div>