<div>
    <form class="row " [formGroup]="filtros" >
        <div class="col-auto m-1 p-1 g-1">
            <input class="form-control" type="text" list="especialidadesOptions" placeholder="Especialidad" formControlName="especialidad" >
            <datalist  id="especialidadesOptions">
                <option *ngFor="let esp of especialidadesServ.especialidades" value="{{esp}}">
            </datalist>
        </div>
        <div class="col-auto m-1 p-1 g-1">
            <input class="form-control" type="text" placeholder="Especialista" formControlName="especialista" >
        </div>
        <div class="col-auto p-2 m-2">
            <i class="bi bi-funnel"></i>
        </div>
    </form>
    <div class="row ">
        <div class="col-auto">
            <div *ngFor="let turno of filtrarLista(); index as i" >
                Turno: {{(turno.especialidadTurno | barrasivacio) +' '+(turno.especialistaTurno | nombreapellido | barrasivacio)+' ('+(getdate(turno.fechaTurno) | barrasivacio:true | date:'M/d/yy, h:mm a' )+')'}}
                <div class="input-group ">
                    <input type="text" class="form-control" [(ngModel)]="comentariosCancelacion[i]">
                    <button type="button" class="btn btn-danger " [disabled]=" !comentariosCancelacion[i] " (click)="cancelarTurno( turno, comentariosCancelacion[i] )">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div>