<nav class="sticky-top navbar navbar-expand py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between py-2">
        <a class="navbar-brand " routerLink="/home"><i class="bi bi-house-fill"></i></a>
        <ng-container *ngIf="!this.authlog.logueado; else bloqueUsuarioYaLogueado">
            <div class="m-2 btn-group ">
                <a class="btn " routerLink="/login">Iniciar sesion</a>
                <a class="btn " routerLink="/registro">Registro</a>
            </div>
        </ng-container>
        <ng-template #bloqueUsuarioYaLogueado>
            <div class=" d-inline-block " *ngIf="this.authlog.usuario">
                <a class=" btn rounded-3 " routerLink="/miperfil">
                    <img class=" img-fluid rounded-circle imagen-perfil" [src]="this.urlImagenPerfil??'assets/defaultusr.jpg'" >
                    <span> {{this.authlog.usuario.nombre + ' ' + this.authlog.usuario.apellido}}</span>
                </a>
            </div>
            <div class=" d-inline-block">
                <a class=" btn " routerLink="/misturnos">Mis turnos</a>
            </div>
            <div class="d-inline-block">
                <a class=" btn " routerLink="/solicitarturno">Pedir turno</a>
            </div>
            <div class=" d-inline-block" *ngIf="this.authlog.rol == 'admin'">
                <a class=" btn " routerLink="/usuarios" >Usuarios</a>
            </div>
            <div class=" d-inline-block" *ngIf="this.authlog.rol == 'admin'">
                <a class=" btn " routerLink="/turnos" >Turnos</a>
            </div>
            <div class=" d-inline-block" *ngIf="this.authlog.rol == 'especialista'">
                <a class=" btn " routerLink="/mispacientes">Mis pacientes</a>
            </div>
            <div class=" d-inline-block" *ngIf="this.authlog.rol == 'admin'">
                <a class=" btn " routerLink="/estadisticas">Estadisticas</a>
            </div>
            <div class="d-inline-block">
                <a class=" btn-link" routerLink="/home" (click)="cerrarSesion()">Cerrar sesion</a>
            </div>
        </ng-template>
    </div>
</nav>